.content .thumbnails {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  @media (--viewport-tablet) {
    margin: -$thumbnail-spacing;
    width: 70%;
    margin: 0 auto;
  }

  & li {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0;
    width: calc(50% - #{$thumbnail-spacing * 2});
    margin: $thumbnail-spacing;

    @media (--viewport-tablet) {
      width: calc(33.33333333333333% - #{$thumbnail-spacing * 2});
      margin: $thumbnail-spacing;
    }

    &:before {
      content: normal;
    }

    &:hover {
      img {
        transform: scale(1.2);
        filter: blur(1px);
      }
      @media (--viewport-tablet) {
        h3 {
          opacity: 1;
          height: 100%;
        }
      }
    }
  }
  & h3 {
    position: absolute;
    background: rgba($main-color1, 0.6);
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: all 0.5s;
    z-index: 1;
    color: $font-white;
    font-size: 17px;
    padding: 5px 0px;
    bottom: 0;
    @media (--viewport-tablet) {
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      bottom: auto;
    }
    &:before {
      content: '+';
      display: inline-block;
      position: absolute;
      font-size: 25px;
      margin: -30px 0 0 0;
      font-size: 15px;
      display: none;
      @media (--viewport-tablet) {
        display: inline-block;
      }
    }
  }
  & a {
    width: 100%;
  }
  & img {
    transition: all 3s;
    width: 100%;
    height: auto;
    @media (--viewport-tablet) {
      vertical-align: middle;
      min-height: 220px;
    }
  }
}
