:root {
  --fonts-main: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  //urls
  /* $main-path: './' !default; */
  /* $main-path-images: '../images/' !default; */
  /* $main-path-fonts: './fonts/' !default; */

  /* Media queries */

  //Site colours
  --main-color1: #0b3c5d; //Prussian blue
  --main-color2: #328cc1; //Sky blue
  --main-color3: #d98310; //Gold leaf
  --main-color4: #1d2731; //ivory black

  --black: var(--main-color4);
  --black-light: #454646;
  --gold: #d9b310;
  --blue: var(--main-color2);
  --blue-light: #86bedf;
  --blue-dark: var(--main-color1);
  --white: #fff;
  --main-color: #5c5882;
  --grey: #cacfd2;

  //fonts
  --font-white: var(--white);
  --font-black: var(--black-light);
  --font-dark: var(--blue);
  --font-grey: var(--grey);
  --font-style-simple: 'ja default', 'Open Sans', sans-serif;
  --font-style-fancy: 'ja header', sans-serif;

  //backgrounds
  --bg-black: var(--black);
  --bg-white: var(--white);

  //image settings
  --img-border-width: 8px;

  //page settings
  --page-spacing-y: 30px; //downwards
  --page-spacing-x: 20px; //sideways
  --box-shadow-color: rgba($black, 0.26);
  --content-spacing: 15px;

  //Individual items
  --info-spacing: 5px;

  //Components
  --score-color: var(--main-color1);
  --score-spacing: 10px;

  --thumbnail-spacing: 10px;

  --pagiantion-icon-spacing: 5px;

  --carousel-button-size: 46px;
  --carousel-arrow-position: 3%;

  //Third party variables
  /* $fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; */
}
