form {
	margin: 0;

	.row {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		position: relative;
		margin-bottom: 15px;

		label[class*="#{$fa-css-prefix}-"] {
			position: absolute;
    		right: 15px;
		}
	}
}

label {
	&[class*="#{$fa-css-prefix}-"] {
		font-size: 0;
		-webkit-transition: all .3s;
		transition: all .3s;
		opacity: 1;
		line-height: 0;
		&:before {
			font-size: 24px;
			color: $blue;
		}

	}
}

input, textarea {
	font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 12px 15px;
    border: 1px solid rgba($black,.12);
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 100%;
	font-family: inherit;
    &:hover {
    	border-color: rgba($blue, 0.5);
    	+ label {
    		opacity: 0.5;
    	}
    }
    &:focus {
    	border-color: $blue;
    	+ label {
    		opacity: 0;
    	}
    }
}

textarea {
	+ label {
		top:10px;
	}
}
